body {
    background-image: url(Image/Fond/98f4ed8990212975211bf6a79b9597dc.jpg);
    
}

table, td {
	border: 1px #70b8ff dashed;
}

header {
    background-color: black;
    text-align: center;
    margin:auto;
    margin-bottom: 20px;
    height: 60px;
    padding-top: 30px;
    word-spacing:150px;
}

a {
    color:white;
    font-size:24px;
    text-decoration:none;
    font-family:Impact; 
}

footer {
    background-color:black;
    text-align: center;
    margin:auto;
    max-width: 100000px;
    position:fixed;
    bottom:0;
    left:400px;
    right:400px;
    word-spacing: 40px;
        
}